@media screen and (min-width: 768px) {

	header {
		background-color: $white;
		height: auto;

		h1 {
			background-color: $white;
			font-size: 200%;
			color: $grey;
			padding-left: 2%;
		}

		img {
			visibility: hidden;
		}

		ul {
			position: absolute;
			top: 0;
			right: 0;
			display: block;	
			width: 53%;
			visibility: visible;
		}

		li {
			width: 20%;
			float: left;
			list-style-type: none;
			padding-bottom: 0;
			padding-top: 22px;
		}

		li:hover {
			background-color: $white;
		}

}

section {
		border-top: 2px double $grey;
		border-bottom: 2px double $grey;
		margin-top: 10px;
		margin-bottom: 10px;

		h2 {
			top: 200px;
			font-size: 3em;

		}

		p {
			font-size: 1.4em;
			padding-left: 15%;
			padding-right: 15%;
		}
	}


footer {
	background-color: $white;
	color: $grey;
	border-top: 2px double $grey;
}
}



