@import url(https://fonts.googleapis.com/css?family=Cookie);

* {
    margin: 0; 
    padding: 0;
}

body {
	max-width: 960px;
	margin: auto;
	font-size: 14px;
}

header {
	background-color: #B82820;
	position: relative;
}

header div.header {
	width: 100%;
	font-family: 'Cookie', cursive;
	text-align: center;
	line-height: .9em;
	font-size: 1.1em;
}

header img {
	width: 80%;
	margin: 0 10%;
}

div#cart {
	position: absolute;
	top: 10;
	left: 10;
	background-color: #F4E5C9;
	padding: 0 10px;
	margin-top: -10;
	border-radius: 0 0 5px 5px;
	font-size: 85%;
	font-family: Arial, Helvetica, sans-serif;
}

/*Navigation*/
 
$black: #000;
$white: #FFFFFF;
$grey: #D1D1D1;
$red: #D60F19;
//gradients
$blue-gradient: #27C4E3, #24A6BF;
$grey-gradient: #b8b8b8, #8F8C8C;


.nav:before,
.nav:after {
    content: "";
    display: table; 
}

.nav:after {
    clear: both;
  
}

.nav {
    list-style: none;
     background:$black;
     font-family: Myriad Pro;
  
   ul {
   
    position: absolute;
    left: -9999px;
    list-style: none;  
     width: 9em;
   }
  
  
 a {
    padding: 15px 35px;
    color: $white;
    text-decoration: none;
  }
  
 li {
    position: relative;
    text-align: center;
  }
 }


.nav > li {
    float: left;
  
 > a {
    display: block;
  }
}

.nav > li.hover > ul {
    left: 0;
  
}

.nav li li.hover ul {
  opacity: 1;
  transition: opacity 1s linear;
    left: 100%;
    top: 0;
}

.nav li li ul {
    opacity: 0;
}

.nav li li a {
    display: block;
    background: linear-gradient($grey-gradient);

}

a:hover, .nav li li a:hover {
    color: $red;
}

.nav li li li a {
    background: linear-gradient($blue-gradient);
}


@media screen and (max-width: 600px) {

  .menu-link {
  margin: 1% 5%;
    background: $grey;
    padding: 20px 32px;  
    position: relative;
   padding-left: 1.25em;
}

.menu-link:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.45em;
  width: 2.3em;
  margin: 0 12%;
  height: 0.35em;
  background: $black;
  box-shadow: 0 0.65em 0 0 $black, 0 1.3em 0 0 $black;
}

  
.active {
  display: block;
    }
  
.nav > li {
  float: none;
    }
    
.nav {
    border-radius: 5px;
    margin: 0 5%;
    width:90%;
    
    li{
      text-align: left;
      border-bottom: 1px solid $white;
    }
  
  ul {
        display: block;
        width: 100%;
    }        
} 
  
.nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}

/* Main Section */
section h2 {
	font-family: 'Cookie', cursive;
	font-size: 2.3em;
	text-align: center;
	padding-top: 20px;
	margin-bottom: -10px;
}

section, footer {
	background-color: #00CCB7;
	margin-top: -30px;
}

section img, section h3, section h4, section p {
	width: 80%;
	margin: 0 8%;
	border: 10px solid #F4E5C9;
	font-family: Arial, Helvetica, sans-serif;
}

section h3, section h4, section p {
	background-color: #F4E5C9;
	text-align: center;
}

section img {
	margin-top: 20px;
}

section h3 {
	font-size: 1.5em;
}
section h4 {
	font-size: 1.3em;
	line-height: .7em;
}

section p {
	width: 80%;
	background-color: #B82820;
	padding: 8px 0;
	font-size: 1.1em;
}

section p a {
	color: #F4E5C9;
	text-decoration: none;
}

footer {
	width: 100%;
	margin-top: 0;
	font-family: Arial, Helvetica, sans-serif;
}

footer p {
	width: 80%;
	margin: auto;
	padding: 20px 0;
}


/*  Main Nav */
